<?xml version="1.0" encoding="UTF-8"?>

<suite name="nopcommerce"  thread-count="5" parallel="tests">

   <listeners>
      <listener class-name="com.nopcommerce.utilities.ExtentReportManager" />
   </listeners>
             
      <test name="chrometest">
      <parameter name= "browser" value="chrome"/>
          <classes> 
             <class name="com.nopcommerce.testCases.TC_LoginTest_001" />
             <class name="com.nopcommerce.testCases.TC_AddCustomerTest_003" />
             <!--  <class name="com.nopcommerce.testCases.TC_SearchCustomerByEmail_004" />
             <class name="com.nopcommerce.testCases.TC_SearchCustomerByName_005" />-->
         </classes>
         </test>
    <test name="edgetest">
      <parameter name= "browser" value="edge"/>
          <classes> 
             <class name="com.nopcommerce.testCases.TC_LoginTest_001" />
         </classes>
        </test>
        
     <!--  <test name="firefoxtest">
      <parameter name= "browser" value="firefox"/>
          <classes> 
             <class name="com.nopcommerce.testCases.TC_LoginTest_001" />
         </classes>
        </test>
           
        
        <test name="ietest">
      <parameter name= "browser" value="ie"/>
          <classes> 
             <class name="com.nopcommerce.testCases.TC_LoginTest_01" />
         </classes>
        </test> -->
    </suite>